In [1]:
import pandas as pd
import numpy as np

In [2]:
df = pd.read_csv("../data/superstore_sales.csv", encoding='latin1')  # Load the dataset

In [3]:
df.head() # Display the first few rows of the dataframe

,Row ID,Order ID,Order Date,Ship Date,Ship Mode,Customer ID,Customer Name,Segment,Country,City,...,Postal Code,Region,Product ID,Category,Sub-Category,Product Name,Sales,Quantity,Discount,Profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [4]:
df.info() # Get a summary of the dataframe

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9994 entries, 0 to 9993
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9994 non-null   int64
 1   Order ID       9994 non-null   object
 2   Order Date     9994 non-null   object
 3   Ship Date      9994 non-null   object
 4   Ship Mode      9994 non-null   object
 5   Customer ID    9994 non-null   object
 6   Customer Name  9994 non-null   object
 7   Segment        9994 non-null   object
 8   Country        9994 non-null   object
 9   City           9994 non-null   object
 10  State          9994 non-null   object
 11  Postal Code    9994 non-null   int64
 12  Region         9994 non-null   object
 13  Product ID     9994 non-null   object
 14  Category       9994 non-null   object
 15  Sub-Category   9994 non-null   object
 16  Product Name   9994 non-null   object
 17  Sales          9994 non-null   float64
 18  Quantity       9994 non-null   int64
 19  Discount       9994 non-null   float64
 20  Profit         9994 non-null   float64
dtypes: float64(3), int64(3), object(15)
memory usage: 1.6+ MB

In [5]:
print("Null values per column:\n", df.isnull().sum()) # Check for null values in each column

Null values per column:
 Row ID           0
Order ID         0
Order Date       0
Ship Date        0
Ship Mode        0
Customer ID      0
Customer Name    0
Segment          0
Country          0
City             0
State            0
Postal Code      0
Region           0
Product ID       0
Category         0
Sub-Category     0
Product Name     0
Sales            0
Quantity         0
Discount         0
Profit           0
dtype: int64

In [6]:
print("Duplicated values in the dataset:", df.duplicated().sum()) # Check for duplicated rows

Duplicated values in the dataset: 0

In [7]:
df["Order Date"] = pd.to_datetime(df["Order Date"]) # Convert "Order Date" to datetime
df["Ship Date"] = pd.to_datetime(df["Ship Date"]) # Convert "Ship Date" to datetime

In [8]:
df["Year"] = df["Order Date"].dt.year  # Extract year from "Order Date"
df["Month"] = df["Order Date"].dt.month_name()  # Extract month name from "Order Date"
df["Month_Num"] = df["Order Date"].dt.month # Extract month number from "Order Date"

In [9]:
num_cols = ['Sales', 'Quantity', 'Discount', 'Profit']  # List of numeric columns
df[num_cols] = df[num_cols].apply(pd.to_numeric, errors='coerce')  # Ensure numeric columns are of numeric type
df[num_cols].dtypes  # Verify the data types of numeric columns

Sales       float64
Quantity      int64
Discount    float64
Profit      float64
dtype: object

In [10]:
df['Profit Margin (%)'] = df['Profit'] / df['Sales']  # Calculate profit margin
df['Discounted Sales'] = df['Sales'] * (1 - df['Discount'])  # Calculate discounted sales

In [11]:
df[['Sales','Profit']].describe()  # Get summary statistics for Sales and Profit columns

              Sales       Profit
count   9994.000000  9994.000000
mean     229.858001    28.656896
std      623.245101   234.260108
min        0.444000 -6599.978000
25%       17.280000     1.728750
50%       54.490000     8.666500
75%      209.940000    29.364000
max    22638.480000  8399.976000

In [12]:
z_scores = np.abs((df['Sales'] - df['Sales'].mean()) / df['Sales'].std())  # Calculate z-scores for Profit column
outliers = df[z_scores > 3]  # Identify outliers with z-score greater than 3
print("Outliers:", len(outliers)) # Print number of outliers

Outliers: 127

In [13]:
df.to_csv("../data/superstore_sales_cleaned.csv", index=False)  # Save the cleaned dataframe to a new CSV file

In [14]:
print(f"Total Sales: ${df['Sales'].sum():,.2f}")  # Print total sales formatted as currency
print(f"Total Profit: ${df['Profit'].sum():,.2f}")  # Print total profit formatted as currency  
print(f"Average Profit Margin: {df['Profit Margin (%)'].mean() * 100:.2f}%")  # Print average profit margin as percentage
print(f"Number of Unique Customers: {df['Customer ID'].nunique()}")  # Print number of unique customers

Total Sales: $2,297,200.86
Total Profit: $286,397.02
Average Profit Margin: 12.03%
Number of Unique Customers: 793